.story-list {
  width: 60rem;
  max-width: 80%;
  margin: auto;
}

.story-list h2 {
  border-bottom: 3px solid #ba00c4;
  padding-bottom: 1rem;
  color: #3a3a3a;
}

.story-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.story-list li {
  color: #3a3a3a;
  margin: 1rem 0.1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-list li h4 {
  text-align: center;
}

.story-list button {
  align-self: center;
  margin-bottom: 0.45rem;
  color: white;
  background: #ba00c4;
  height: 2rem;
  width: 70px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.1s;
}

.story-list button:hover {
  background: #f531ff
}

.story-list button:focus {
  outline: none;
}