.auth {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
  text-align: center;
}

.auth button {
  padding: 0.45rem;
  color: white;
  font-weight: bold;
  background: #ba00c4;
  border: none;
  cursor: pointer;
}

.auth button:focus {
  outline: none;
}

.auth button:hover {
  background: #f531ff;
}